---
import MainLayout from '../layouts/main-layout.astro';
import Intro from '../components/Intro.astro';
---

<MainLayout title='Homepage'>
	<h1>homepage</h1>
	<a href='/about'>go to about page</a>
	<Intro />
</MainLayout>
