---
const { title } = Astro.props;
import Nav from '../components/Nav';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>
			{title ? `${title} | my first astro site` : 'my first astro site'}
		</title>
	</head>

	<body>
		<Nav client:load />
		<main><slot /></main>
	</body>
</html>
